$greenPrimary: #70c174;
$greenSecondary: #bef3c0;
$greenTertiary: #eff7f2;
$black: #0b0706;
$primaryText: #1d2130;
$secondaryText: #525560;
$offWhite: #ebf0f9;
$border: #e5e5e5;
$white: #ffffff;
$purple: #ac94f1;
$beige: #fff0ca;
$yellow: #f9cf64;
$pink: #f38fbf;
$head-black: #1c1d28;
