.intro {
  display: flex;
  margin: 95px 0;
  &__content-section {
    @include dFlex(start, $gap: 24px);
    p {
      font-weight: 700;
    }
  }
  &__content-section--line {
    width: 70px;
    height: 2px;
    background-color: $black;
  }
  &__content-title {
    padding: 32px 97px;
    p {
      padding: 42px 0;
    }
  }
  &__content-title--heading {
    @include heading2();
  }
  &__content-btn {
    @include primaryButton;
  }
  &__img {
    position: relative;
  }
  &__img-icon {
    position: absolute;
    width: 64px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
