.header {
  @include dFlex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 67px;
  background-color: transparent;
  width: 100%;
  &__menu {
    flex-grow: 1;
    text-align: end;

    a {
      color: $secondaryText;
      font-weight: 500;
      padding: 20px;

      &:hover {
        color: $black;
      }
    }
  }

  &__btn {
    @include primaryButton($primaryText, $height: 43px);
  }
}
